@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");

body {
  width: 100%;
  height: 100%;
}

.search__container {
  padding-top: 55px;
}

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  margin-top: 4rem;
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 2px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  text-transform: uppercase;
}

.search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.search-results {
  display: flex;
  justify-content: space-between;
}

.posts-results {
  left: 200px;
}

.form_class {
  display: flex;
}

.card-body {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #eee9e9;
}

.card-body:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
}

/*If we decide to add groups please use the below code*/

/* .groups-results {
  position: absolute;
  right: 200px;
} */

/* .middle-line {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  left: 50%;
  position: absolute;
  background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
  background-image: -moz-linear-gradient(top, #fff, #000, #fff);
  background-image: -ms-linear-gradient(top, #fff, #000, #fff);
  background-image: -o-linear-gradient(top, #fff, #000, #fff);
  background-image: linear-gradient(top, #fff, #000, #fff);
} */
