#profileWrapper {
    margin-top: 80px;
    margin-bottom: 65px;
}

#uNameTitle, .title {
    text-align: center;
    margin-top: 5px;
}

#mainProfileImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 125px;
    height: 125px;
    border: 1px solid black;
    border-radius: 50%;
}

.group {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #eee9e9;
}

.group:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
}

.groupImg {
    width: 100px;
    padding: 10px;
}

#groupLink {
    color: black;
    text-decoration: none;
}

#pageNums {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.groupItem {
    border-radius: 5px;
    margin: 1px;
    font-size: .8em;
}

.active {
    background-color: #0d6efd;
}